#body {
  width: 500px;
  margin: auto;
}
img#topic {
  min-width: 500px;
  margin: 0px;
  padding: 0px;
}

.article-meta {
  margin: 0px;
  background: #fff
}

#content h4 {
  text-transform: uppercase;
}

h4#date {
  margin-bottom: 0px;
}

ul {
  margin: 0;
  padding: 0 15px;
}
