{{ partial "header_седмичник.html" . }}
<main>
<section id="main">
<div class="article-meta">
  <h1 id="title"><span class="title">{{ .Title }}</span></h2>
  <h4 id="date">
    <span class="date">
      {{ partial "седмичник_дата" . }}
    </span> от <span class="author"><a href="{{ $.Param "author.url" }}">{{ $.Param "author.name" }}</a> </span></h4>

</div>

<ul class="action">
  {{ range first 1 $.Site.Params.services }}
  Влез в <a href="{{.url}}">{{.name}}</a> за {{.description}}
  {{ end }}
</ul>

  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
<aside id="meta">
    <div>
        {{ with .PrevInSection }}
          <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
    </div>
</aside>
</main>

<ul class="action">
  {{ range first 1 $.Site.Params.services }}
  Влез в <a href="{{.url}}">{{.name}}</a> за {{.description}}
  {{ end }}
</ul>

{{ partial "footer_седмичник.html" . }}
